@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.custom-shadow {
  @apply w-full h-full rounded-large absolute -right-3 -bottom-3 drop-shadow;
}

.custom-img {
  @apply rounded-large relative z-10 drop-shadow-sm;
}

.anchor-offset {
  position: relative;
  top: -100px;
  padding-top: 100px;
}
